<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.agile.mapper.TDashboardMapper">

    <select id="getCount" resultType="cn.org.alan.agile.model.vo.dashboard.DashBoardCountVo">
        SELECT
        (SELECT COUNT(*) FROM T_Team_Project tp WHERE tp.tid = #{teamId}) AS "projectCount",
        (SELECT COUNT(*) FROM T_Tasks t WHERE t.principalid = #{userId} and t.state !=2 ) AS "taskCount",
        (SELECT COUNT(*) FROM T_Requirements r WHERE r.principalid = #{userId} and r.state !=6 ) AS "requirementCount",
        (SELECT COUNT(*) FROM T_Issues i WHERE i.principalid = #{userId} and i.state not in (3,6) ) AS "issueCount"

    </select>
</mapper>
